.listpage_info_container_l{
    display: flex;
    background-color:rgba(0, 0, 0, 0.8);
    width:80%;
    height:70%;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;;
}
td{
    padding:10px;
}
label.s{
    text-align: left;
    width:80%;
}
button{
    width:20%;
}
textarea{
    width:80%;
    resize: none;
    height:150px;
}
.review_block{
    width:90%;
}
h2{
    color:white;
}
h3{
    color:white;
}
p{
    color:white;
}