.auth_background{
    height:92vh;
    width:100%;
}

.auth_scrolling_image{
    background-image:url("../../../images/main_background.png") ;
    
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth_info_container{
    display: flex;
    background-color:rgba(0, 0, 0, 0.8);
    width:60%;
    height:70%;
    flex-direction: column;
}

form{
    width: 90%;
    height:100%;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    color:white;
    font-size: 1.4em;
    text-align: left;
    width:50%;
}
input.text_input{
    margin-bottom:30px;
    height:8%;
    width:50%;
}
input.submit{
    margin-top:5%;
    width:50%;
    height:10%;
}
.login_nav_link{
    margin-top:5%;
    color:white !important
}